.m-auto{
    margin: auto;
}
.btn{
    border: 2px solid black;
    border-radius: 6px;
    margin: 6px;
    padding: 6px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    background-color: transparent;

}

.btn:hover{
    color: purple;
    background-color: rgb(240, 240, 240);
}
.max-width-1{
    width: 80vw;
}
.font-1{
    font-family: 'Baloo 2', cursive;;
}